<% include ../partials/header %>
<div class="container">
  <div class="flex-container">
    <div class="incident-container-1">
      <div><h2>Title: </h2><%= incident.title %></div>
      <div><h3>Incident # </h3><%= incident._id %></div>
      <div> <h3>Status: </h3><%= incident.status %> </div>
    </div>
    <div class="incident-container-2">
      <div><h3>Owner: </h3><%= incident.owner %></div>
      <div><h3>Created By: </h3><%= incident.createdBy.name %> <%= incident.createdBy.lname %> </div>
      <div> <h3>TIME REMAINING: </h3><span id="demo"></span> </div>
    </div>
    <div class="incident-container-3">
      <% if(currentUser && (currentUser._id.equals(incident.createdBy.id))) { %>
     <div class="more-menu-container">
      <div class="more">
        <button id="more-btn" class="more-btn">
          <span class="more-dot"></span>
          <span class="more-dot"></span>
          <span class="more-dot"></span>
        </button>
        <div class="more-menu">
          <div class="more-menu-caret">
            <div class="more-menu-caret-outer"></div>
            <div class="more-menu-caret-inner"></div>
          </div>
          <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
             <% if (Date.now() < incident.deadline) { %>
            <li class="more-menu-item" role="presentation">
              <a href="/incidents/<%= incident._id %>/edit" class="more-menu-btn" role="menuitem">Edit Incident</a>
            </li>
            <%}%>
            <li class="more-menu-item" role="presentation">
              <form action="/incidents/<%= incident._id %>?_method=DELETE" method="POST">
                <button class="more-menu-btn" role="menuitem">Delete
                </button>
              </form>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <%}%>
    <div><h3>Date: </h3><%= incident.date.toDateString().replace(/^\S+\s/,'') %> </div>
    <div><h3>END: </h3><%= incident.deadline.toDateString().replace(/^\S+\s/,'') %> </div>
  </div>
</div>
<div class="incident-desc-container">
  <h1 class="text-center">Description</h1>
  <div class="incident-desc-contents"><%= incident.description %></div>
</div>
</div>
<script type="text/javascript">
  var countDownDate = new Date("<%= incident.deadline%>").getTime();
  var countdownfunction = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    document.getElementById("demo").innerHTML =
    days + "d " + hours + "h " + minutes + "m";

    if (distance < 0) {
      clearInterval(countdownfunction);
      document.getElementById("demo").innerHTML = "0";
    }
  }, 1000);
</script>
<script type="text/javascript">
  var el = document.querySelector('.more');
  var btn = el.querySelector('.more-btn');
  var menu = el.querySelector('.more-menu');
  var visible = false;

  function showMenu(e) {
    e.preventDefault();
    if (!visible) {
      visible = true;
      el.classList.add('show-more-menu');
      menu.setAttribute('aria-hidden', false);
      document.addEventListener('click', hideMenu, false);
    }
  }

  function hideMenu(e) {
    if (btn.contains(e.target)) {
      return;
    }
    if (visible) {
      visible = false;
      el.classList.remove('show-more-menu');
      menu.setAttribute('aria-hidden', true);
      document.removeEventListener('click', hideMenu);
    }
  }

  btn.addEventListener('click', showMenu, false);
</script>
<% include ../partials/footer %>